#container{
    .storeWrap { 
        width: 80%;
        margin: 0 auto 50px;
        border: 1px solid #163963;
        padding: 10px;
        >li { 
            margin: 10px 0;
            color: #163963;
            font-size: 15px;
        }
    }
    #storeform {
        border-top: 1px solid #163963 ;
        width: 80%;
        margin: 100px auto 0;
        padding: 50px 0 100px;
        color: #163963;
        >select,input {
            width: 160px;
            height: 40px;
            margin: 10px;
            padding: 0 10px;
            background-color: transparent;
            border: 1px solid #163963;
            color: #163963;
           
        }
        >button { 
            width: 150px;
            height: 40px;
            border: 1px solid #163963;
            border-radius: 50px;
            background-color: #163963;
            margin: 30px 10px;
            color: #fff;
            font-weight: 600;
        }
    }
}

