@media screen and (max-width:1200px)
{
   #container { 
        .shop_cont1 {
            .center { 
                width: 94%;
            }
        }
   }
}

@media screen and (max-width:540px)
{
    #container { 
        .shop_cont1 {
            .center { 
                width: 94%;
                .menu {
                    >li { margin: 25px 15px;}
                }
                .prdlist {
                    .list {
                        margin-bottom: 90px;
                        width: 50%;
                        .prdbox{
                            .hoverbox { 
                                opacity: 1;
                                height: 20%;
                                top: 362px;
                            }
                        }
                    }
                }
            }
        }
   }
}