@media screen and (max-width:1200px)
{
    #container { 
        .newsdt_cont1 { 
            img { width: 100%;}
        }
    }
}
@media screen and (max-width:1024px)
{
    
}
@media screen and (max-width:930px)
{
    #container { 
        .newsdt_cont1 { 
            width: 90%;
            img { width: 100%;}
        }
    }
}
@media screen and (max-width:540px)
{
    
}