#container { 
    .newsdt_cont1 { 
        text-align: center;
        padding-top: 200px;
        width: 80%; 
        margin: 0 auto;
        position: relative;
        img { width: 80%;}
        .newsdt_title {
            text-align: center;
            font-size: 32px;
            line-height: 45px;
            color: #163963;
            margin-bottom: 70px;
        }
        .newslogo {
            display: block;
            margin: 0 auto 80px;
            width: 140px;
            height: 130px;
        }
        .news_date { 
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 40px;

        }
        .news_subtitle { 
            color: #163963;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 60px
        }
        .text { 
            font-size: 14px;
            line-height: 30px;
            width: 60%;
            margin: 0 auto 30px; 
        }
        .img1 {
            margin: 50px 0;
        }
        .img2 {
            margin-bottom: 0;
        }
        .img3 {
            margin:0 0 100px ;
        }
        
        .list {
            display: block;
            width:180px;
            font-size: 15px;
            color: #163963;
            text-align: center;
            line-height: 55px;
            border-radius: 50px;
            border: 1px solid #163963;
            font-weight: 600;
            transition: all 0.4s;
            margin: 0 auto;
            &:hover {
                background-color: #163963;
                color: #fff;
            }
        }
    }
}