#container { 
    .store_cont {
        width: 100%;
        color: #163963;
        .list {
            .slider { 
                width: 100%;
                height: 100vh;
                display: flex;
                position: relative;
                &:hover { 
                    .pagebtns {
                        opacity: 1;
                    }
                }
                >img {
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: all 0.5s;
                    &:first-child {
                        z-index: 3;
                    }
                }
                .pagebtns { 
                    opacity: 0;
                    transition: all 0.5s;
                    z-index: 99;
                    >div { 
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        >span { 
                            color: #fff;
                            font-size: 40px;
                        }
                    }
                    .prev_btn { 
                        left: 15px;
                    }
                    .next_btn { 
                        right: 15px;
                    }
                }
            }
            .info {
                width: 80%;
                margin: 50px auto  0;
                border-bottom: 1px solid #163963;
                padding-bottom: 50px;
                &:last-child { border: none;}
                >.st_name { 
                    font-size: 20px;
                    font-weight: 600;
                }
                p {
                    line-height: 35px;
                    font-size: 15px;
                    font-weight: 500;
                }
                .time { 
                    margin-bottom: 40px;
                }
            }
            .s_searchbox { 
                width: 80%;
                margin: 100px auto 0;
                &:last-child {
                    margin-top: 50px;
                }
                .search_text { 
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                select,input { 
                    width: 180px;
                    height: 35px;
                    background-color: transparent;
                    border: 1px solid #163963;
                    margin: 0 10px;
                }
                button { 
                    width: 120px;
                    height: 40px;
                    background-color: transparent;
                    border: 1px solid #163963;
                    border-radius: 50px;
                    color: #163963;
                    font-weight: 600;
                    margin-left: 15px;
                    transition: all 0.5s;
                    &:hover { 
                        background-color: #163963;
                        color: #fff;
                    }
                }
            }
        }
    }
}