<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>main</title>
</head>
<body>
    <%- include ("common/admin_header.ejs")%>
    <% if(!admindata) {%>
        <div id="container">
            <form id="logform" action="/login" method="post">
                <label for="adminId">관리자 아이디</label>
                <input tpye="text" id="adminId" name="adminId">
                <label for="adminPass">관리자 비밀번호</label>
                <input type="password" id="adminPass" name="adminPass">
                <button type="submit">login</button>
            </form>
        </div>
    <% } %>
</body>
</html>