<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>notice</title>
</head>
<body>
    <%- include ("common/header.ejs",{page:"notmain"})%>
    <div id="container">
        <div class="noticedt">
            <div class="topwrap">
                <h3 class="notice_title">홈페이지 리뉴얼 안내</h3>
                <p>날짜 : </p>
            </div>
            <div class="botwrap">
                content 
            </div>
            <a class="list" href="/notice">Return to list</a>
          
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
</body>
</html>