<div id="footer">
    <div class="center">
        <div class="f_leftwrap">
            <p class="f_info_1">
                Company Name: 주식회사 BBP(BBP Inc.) | Owner: 임성빈 | Personal Info Manager: 임대영 | Phone Number: 02-703-6070 | Email: info@villarecord.com
            </p>
            <p class="f_info_2">
                Address: 서울시 강남구 도산대로 15길, 18 지하 3층 [사업장 소재지] 서울시 강남구 도산대로 15길, 18 지하 3층 [SHOW ROOM] | Business Registration Number: 899-87-02694 | Business License: 제 2022-서울강남-01152호 | Hosting by sixshop
            </p>
            <p class="copyright">@ 2018 VILLA RECORDS</p>
        </div>
        <div class="f_rightwrap">
            <ul class="commu_wrap">
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">Q & A BOARD</a></li>
            </ul>
        </div>
    </div>
</div>